.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-image: url("https://res.cloudinary.com/dqupljwh9/image/upload/v1729405138/Ellipse_41_jhcomh.png"),
    url("https://res.cloudinary.com/dqupljwh9/image/upload/v1729405079/Ellipse_40_xspuea.png");
  background-position: top right, left bottom;
  background-size: auto, 150px 250px;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: multiply;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 400px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  margin: 0;
  padding: 0;
  z-index: 1000;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
background-image: url("https://res.cloudinary.com/dqupljwh9/image/upload/v1729405138/Ellipse_41_jhcomh.png"),
    url("https://res.cloudinary.com/dqupljwh9/image/upload/v1729405079/Ellipse_40_xspuea.png");
  background-position: top right, left bottom;
  background-size: auto, 150px 250px;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: multiply;
  margin-right: 0px;
}

.plant {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-image: url("https://res.cloudinary.com/dqupljwh9/image/upload/v1729405149/plant_1_wanwrd.png");
  background-size: cover;
}

h4 {
  padding-top: 150px;
  margin-bottom: 10px;
  color: #333;
  margin-top: 60px;
}

.order-success {
  font-size: 34x;
  color: #165315;
  margin-top: 40px;
  margin-bottom: 60px;
  font-weight: bold;
}

.message {
  text-align: center;
  color: #666;
  margin-top: 35px;
  margin-bottom: 30px;
}

.message p {
  margin-bottom: 10px;
}

.btn {
  display: block;
  width: 70%;
  text-align: center;
  padding: 12px 0;
  background-color: #165315;
  font-family: Poppins, Arial;
  color: #fff;

  font-size: 16px;
  text-decoration: none;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  margin: 60px;
}

.btn:hover {
  opacity: 1;
}
